* {
  font-family: 'Open Sans', sans-serif;
}

body{ 
    background-color: rgb(0,153,255);
}

#wish_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

li {
    display: grid;
    grid-template-columns: 35% 25px auto 30px;
    grid-template-rows: 30px 10px 30px auto;
    justify-items: stretch;
    align-items: center;

    background-image: url("../media/item_background.jpg");
    background-color: white;
    list-style-type: none;
    border: 3px outset rgb(104, 8, 8);
    border-radius: 30px;
    box-shadow: 10px 10px 70px 10px  rgb(104, 8, 8);
    padding: 20px;
    margin: 20px;
    height: 250px;
    width: 500px;
}

li > img{

    border-radius: 500px;
    box-shadow: 5px 5px 50px 15px rgb(219, 51, 21);
    background-color: rgb(255, 255, 255, 0.70);

    grid-column: 1 / 2;
    grid-row: 1 / 5;
    width: 100%;
}

li > div:nth-child(2){
    border-radius: 30px;
    box-shadow: 5px 5px 50px 15px white;
    grid-column: 3 / 4;
    grid-row: 1 / 5;
    background-color: rgb(255, 255, 255, 0.75);
    align-self: stretch;
}

li > div:nth-child(3){
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

li > div:nth-child(4){
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}